/***********************BODY SELECTORS**********************/
body {
    background-color: #2B3467;
    color: #FCFFE7;
    font-family: 'Bona Nova', serif;
    margin: 0;
}

img {
    height: 360px;
    width: 360px;
}
/***********************CLASS SELECTORS**********************/

.head-container {
    background-size: 30%;
    margin: 0%;
    text-align: center;
}

/***********************ID SELECTORS**********************/

#h1-id {
    margin-top: 0;
    text-align: left;
}